@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}

:root{
    --primary-color: #ffe5bd;
    --secondary-color:rgb(23, 124, 229);
    --supp-color: #fff;
}

.dark-theme{
    --primary-color: #222222;
    --secondary-color:rgb(255, 116, 23);
    --supp-color: #7f7f7f;
}

body{
    background: var(--primary-color);
}

.quote-box{
    background-image: url('./assets/default-background.webp');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.15);

}

.quote-box h2{
    font-size: 32px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 40px;
    position: relative;
}

.quote-box h2::after{
    content: '';
    width: 75px;
    height: 3px;
    border-radius: 3px;
    background: #fff;
    position:absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.quote-box blockquote {
    font-size: 26px;
    min-height: 110px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.quote-box blockquote::before, .quote-box blockquote::after{
    content: '"';
    
}

.quote-box span{
    display: block;
    margin-top: 10px;
    float: right;
    position: relative;
    color: #fff;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
}

#author {
    font-size: x-large; /* Add this line to increase the font size */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.quote-box div{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.quote-box button {
    position: relative;
    background: var(--secondary-color);
    color: #fff;
    border-radius: 50px;
    border: 1px solid var(--secondary-color);
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
    margin: 7px;
    cursor: pointer;
}

/* .quote-box button:hover {
    opacity: 0.8;
} */

/* text-container box */
.quote-box button .text-container {
    visibility: hidden;
    width: 120px;
    background-color: var(--secondary-color);
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position the text-container above the button */
    left: 50%;
    margin-left: -60px; /* Use half of the width to center the text-container */
    opacity: 0;
    transition: opacity 0.3s;
}

/* text-container arrow */
.quote-box button .text-container::after {
    content: "";
    position: absolute;
    top: 100%; /* At the bottom of the text-container */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--secondary-color) transparent transparent transparent;
}

.quote-box button:hover .text-container {
    visibility: visible;
    opacity: 1;
}
